body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.back-to-top {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: calc(0rem + 2vw); 
    color: #333;
    text-decoration: none;
    z-index: 10;
    padding: 0px;
    margin-left: 60px; 
    cursor: pointer; /* permite que o ponteiro do mouse mostre que é clicável */
}
/* Faz com que apenas o link <a> seja clicável e não o ícone <i> */
.back-to-top i {
    pointer-events: none; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

.orders-section {
    margin-bottom: 30px;
}

h2 {
    color: #e53935;
    font-size: 2rem;
}

.order {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.restaurant-name img {
    width: 100px;
}

.order-time span {
    margin-top: 50px;
}

.order-details {
    margin: 10px 50px;
    white-space: nowrap;
}

.p {
    width: 100%;
}

.finalize-button {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.finalize-button:hover {
    background-color: #d32f2f;
}

.in-progress {
    border-left: 5px solid #ffeb3b;
}

.finished {
    border-left: 5px solid #4caf50;
}

.finished .finalize-button {
    display: none;
}